body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 450px;
  background: #fff;
  padding: 8px;

}

.title {
  background: #e3f4ff;
  padding: 8px;
  margin: 16px;
}

.content {
  width: auto;
  background: #e3f4ff;
  padding: 8px;
  margin: 16px;

  
}

.button-container {
  background: #e3f4ff;
  padding: 8px;
  margin: 16px;
  text-align: center;

}

button {
  background: white;
  border: 1px solid #eee;
  padding: 10px;
  width: 150px;
}
